<div class="text-dark bg-light"><h1>All sub_categories</h1></div>

<table id="sub_category-table-id" class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">image</th>
    <th scope="col">Actions</th>
  </tr>
 </thead>

  <tbody>
    <% @sub_categories.each do |sub_category| %>
     <tr>
      <td><%= sub_category.name %></td>
      <% if sub_category.image_url %>
      <td><%= link_to image_tag(sub_category.image_url(:thumb))%></td>
      <%end%>
      
 
      <td>
      <%if can? :destroy,sub_category%>
      <button class="btn btn-light"><%= link_to 'Destroy', admin_sub_category_path(sub_category), method: :delete, data: { confirm: 'Are you sure?' } %></button>
     <%end%>
     <%if can? :edit,sub_category%>
     <button class="btn btn-light"><%= link_to 'Edit', edit_admin_sub_category_path(sub_category) %></button>
     <%end%>
     <button class="btn btn-light"><%= link_to 'Show', admin_sub_category_path(sub_category) %></button>
     </td>
     </tr>
    <%end%>
  </tbody>
</table>

<br>
<script>
 $(document).ready( function () {
  $('#sub_category-table-id').DataTable();
} );
 </script>