<h1>Listing categories</h1>
  
<table id="your-table-id" class="table">
<thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">image</th>
    <th scope="col">Actions</th>
  </tr>
 </thead>
 <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <% if category.image_url %>
      <td><%= link_to image_tag(category.image_url(:thumb))%></td>
      <%end%>
      
      
      <td>
      <%if can? :destroy,category%>
       <button class="btn btn-light"><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></button>
       <%end%>
       <%if can? :edit,category%>
       <button class="btn btn-light"><%= link_to 'Edit', edit_admin_category_path(category) %></button>
       <%end%>
       <button class="btn btn-light"><%= link_to 'Show', admin_category_path(category) %></button>
     </td>
      

    </tr>
    <%end%>
 </tbody>
 </thead>
 </table>
 <script>
 $(document).ready( function () {
  $('#your-table-id').DataTable();
} );
 </script>