<%if current_user.seller?%><div class="text-white bg-dark"><center><h1><%= current_user.shop.name%> </h1></div></center><%end%>
<div class="text-dark bg-light"><h1>Your All Products</h1></div>

<table id="product-table-id" class="table">
<thead class="thead-light">
<tr>
<th scope="col">Name</th>
<th scope="col">image</th>
<th scope="col">Actions</th>
</tr>
</thead>

<tbody>
<% @products.each do |product| %>
<tr>
<td><%= product.title %></td>
<% if product.image_url %>
<td><%= link_to image_tag(product.image_url(:thumb))%></td>
<%end%>
<td>
<%if can? :destroy,product%>
<button class="btn btn-light"><%= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></button>
<%end%>
<%if can? :edit,product%>
<button class="btn btn-light"><%= link_to 'Edit', edit_admin_product_path(product) %></button>
<%end%>
<button class="btn btn-light"><%= link_to 'Show', admin_product_path(product) %></button>
</td> 
</tr>
<%end%>
</tbody>
</table>

<br>
<script>
$(document).ready( function () {
$('#product-table-id').DataTable();
} );
</script>
