<%if current_user.seller?%><div class="text-white bg-dark"><center><h1><%= current_user.shop.name%> </h1></div></center><%end%>
<div class="text-dark bg-light"><h1>All users</h1></div>

<table id="user-table-id" class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">City</th>
    <th scope="col">Role</th>
  </tr>
 </thead>

  <tbody>
    <% @users.each do |user| %>
     <tr>
      <td><%= user.firstname %></td>
      <td><%= user.phone %></td>
      <td><%= user.city.name %></td>
      <td><%= user.role %></td>
     </tr>
     
    <%end%>
  </tbody>
</table>

<br>
<script>
 $(document).ready( function () {
  $('#user-table-id').DataTable();
} );
 </script>